{% extends 'base.html' %}

{% block sub_content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; margin: 0 10%;">
	<form class="p-4 rounded bg-light" action="{{ url_for('main.upload')}}" method="post" enctype = "multipart/form-data">
		<div class="form-group row">
			<label for="key-input" class="col-sm-2 col-form-label">Key:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="key-input" name="key" placeholder="Enter key">
			</div>
		</div>
		<div class="form-group row">
			<label for="desc-input" class="col-sm-2 col-form-label">Description:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="desc-input" name="description" placeholder="Enter description">
			</div>
		</div>
		<div class="form-group row">
			<label for="file-input" class="col-sm-2 col-form-label">Image:</label>
			<div class="col-sm-10">
				<input type="file" class="form-control-file" id="file-input" name="file" accept="image/*">
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<button type="submit" class="btn btn-primary btn-lg">Upload</button>
		</div>
	</form>
</div>
{% endblock %}